.container{
    padding: 2.5rem 0 7.5rem;
    background: 
}

.content{
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}